body {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
}
header {div
    display: inline-block; 
    height: 110px;
    padding: 5px;
    border: 15px #EFF5FB;
    background:  #EFF5FB;
    margin: 10px;
    }
footer {div
    display: inline-block; 
    height: 100px;
    padding: 10px;
    border: 2px dotted;
    margin: 10px; }
img {div
    display: inline-block;
    width: 
    height: 100px;
    padding: 10px;
    border: 2px dotted;
    margin: 7px; 
    float: left;
}
nav > a {
  background-color: darkblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 20px;
/*    margin: 20px 20px 20px 20px;*/
  display: inline-block;
  
}