p { font: italic small-caps  15px/1.5 Helvetica, Arial, sans-serif; }
h1 { font:  small-caps bold 30px/1.5 Helvetica, Arial, sans-serif; }
h2 { font:  small-caps bold 18px/2.0 Helvetica, Arial, sans-serif; }
h2 {opacity: .7; }
a { font: italic small-caps  15px/1.5 Helvetica, Arial, sans-serif; }
body {background: #B2C2B8; }