* {
    box-sizing: border-box;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
    font-family: 'Poiret One', cursive;
    
}

.promo-container {
    background: #E6E6E6;
}

header {
    display: flex;
}

.branding {
    background-color: black;
    width: 150px;
    height: 45px;
    margin-right: auto; 
}


.pill-button {
    display: inline-block;
    background: gray;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.promo {
    background: white;
    color: black;
    font-size: 20px;
}

/* big promo */

#big-promo {
    padding-top: 200px;
}

.promo-message {
    width: 60%;
    padding: 50px;  
}

.product-feature, .product-buy-it-now {
    display: flex;

}

.feature {
    text-align: center;
    padding: 20px;
}

.feature-image {
    background: red;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.product-buy-it-now {
    allign-items: center;
    
}
.product-info {
    text-align: right;
    padding-left: 20px;   
    font-family: 'Francois One', sans-serif;
}

#product-reviews {
    background: skyblue;
    color: white;
    text-align: center;
    padding: 50px;

}